.PRINGLES-MAIN{
        height: 1000px;       
        background-image: url('image/pringles main.png');
        background-size: cover;
        margin-bottom: 50px;
        width:100%;
}

.header{
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 50px;
    display:flex;
    justify-content: space-between;    
}
.PRINGLES{
    display: flex;
    justify-content: start;
    padding: 20px 20px;
    
}
.links{
    display: flex;
    justify-content: space-between;
    
}
.link{
    margin-right: 15px;
}
.link:last-child { /* Псевдоселектор, который обращается к последнему элементу link */
    margin-right: 0; /* Убираем внешний отступ справа */
  }
a{
    color:brown;
    text-decoration: none;

}
.middle {
    width: 1040px;
    margin: 0 auto; 
    border: solid 3px;
    border-color: blue;
    border-radius: 20px;
  }
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blueviolet;
    margin-top: 15px;
    padding: 2px;
    padding-left: 15px;   
}
.images{
    display:flex;
    justify-content: space-between;
    margin-right:185px; 
    margin-left:185px ;
    margin-top: 50px;
    border: solid 1px;
}     
.image{
    display: flex;
    flex-direction: column;
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: solid 1px;   
}
  
.composition{
    display:flex;
    justify-content: start;
    margin: 200px 200px 200px 200px;
    border: solid 3px;
    border-color:blue;
    border-radius: 20px;
}

   
.compositiontext > p {
    padding-left: 50px;
    margin-top:50px;
}
.footer{
    Display:flex;
    background-color: blueviolet;
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    height: 150px;
    align-items: center;
    padding-left: 30px;
}